
.hotitems-container{
    position: relative;
   

}


.hotitem-card{
 
}
.hotitem-img{
    width: 181px;
    height: 203px;
    background-color: #C4C4C4;
}
.hot-item1{
    
    width: 181px;
    height: 395px;
    position: inherit;
    grid-row:1;
    grid-column:1 ;

}
.hot-item2{
    
    width: 181px;
    height: 395px;
    grid-row:1;
    grid-column:2 ;
   
}
.hot-item3{
    
    width: 181px;
    height: 395px;
    grid-row:1;
    grid-column:3 ;
  
}
.hot-item4{
    
    width: 181px;
    height: 395px;
    grid-row:1;
    grid-column:4 ;
   
}
.hot-item5{
    
    width: 181px;
    height: 395px;
    grid-row:1;
    grid-column:5 ;
   
}
.hot-item6{
    
    width: 181px;
    height: 395px;
    
    grid-row:1;
    grid-column:6 ;
}
.hot-item7{
    
    width: 181px;
    height: 395px;
 
    grid-row:2;
    grid-column:1 ;
}
.hot-item8{
    
    width: 181px;
    height: 395px;
    
    grid-row:2;
    grid-column:2 ;
}
.hot-item9{
    
    width: 181px;
    height: 395px;

    grid-row:2;
    grid-column:3 ;
}
.hotitems-container{
    
    
    display: grid;
    grid-gap: 31px;

}
.hotitem-card{
    position: relative;
    width: 181px;
    height: 395px;
}
.hotitem-img{
    width: 181px;
    height: 203px;
    background-color: #C4C4C4;
}
.hot-item-prize{
    position: absolute;
left: 0.55%;
right: 74.73%;
top: 67.85%;
bottom: 28.1%;
margin:0px;

/* Roboto Bold 14 */
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

/* Gray 2 */
color: #4F4F4F;
}
.hotitem-name{
    position: absolute;
left: 0%;
right: 41.76%;
top: 60.25%;
bottom: 34.68%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;

/* identical to box height, or 143% */
text-decoration-line: underline;

/* Gray 3 */
color: #828282;
}
.star1{
    position: absolute;
    left: 0%;
    right: 90.11%;
    top: 80%;
    bottom: 15.44%;
    
    /* Gray 3 */
    
   
}
.star2{
    position: absolute;
    left: 9.89%;
    right: 80.22%;
    top: 80%;
    bottom: 15.44%;
    
    /* Gray 3 */
  
}
.star3{
    position: absolute;
    left: 19.33%;
    right: 40.45%;
    top: 80%;
    bottom: 0%;
    
    /* Gray 3 */

}
.star4{
    position: absolute;
left: 28.55%;
right: 20.22%;
top: 80%;
bottom: 0%;


}
.star5{
    position: absolute;
left: 37.78%;
right:80%;
top: 80%;
bottom: 0%;


}
.reviews{
    margin:0px;
    position: absolute;
left: 0%;
right: 71.98%;
top: 86.08%;
bottom: 10.38%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

/* identical to box height */
text-decoration-line: underline;

/* Gray 3 */
color: #828282;
}
.addreviews{
    position: absolute;
left: 49.45%;
right: 4.4%;
top: 86.08%;
bottom: 10.38%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
margin:0px;

/* identical to box height */
text-decoration-line: underline;

/* Gray 3 */
color: #828282;
}
.button-style{
    width: 103px;
    height:35px;
    position: absolute;
left: 0.55%;
right: 42.86%;
top: 91.14%;
bottom: 0%;
padding-top:10px;
padding-bottom:11px;
justify-content: center;

/* Gray 3 */
background: #828282;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;

/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.like-button{
    
position: absolute;
left: 62.5%;
right: 12.5%;
top: 93.67%;
bottom: 16.67%;
}
@media(max-width:320px){
    .hotitems-container{
        width: 100vw;
        left: 0%;
        display: flex;
        flex-direction: column;
        overflow: scroll
        ;
      
    }
}